<div {{action 'expandSideNav'}} class="side-nav-toggle">
    {{svg 'nav' viewBox='0 0 24 14' class='icon nav'}}
</div>
{{svg 'avatar' viewBox='0 0 24 14' class='icon login'}}
<div class="site-logo">
	<a href="http://www.wikia.com">
		{{svg 'wikia-logo' role='img' class='icon wikia-logo'}}
	</a>
</div>
