<div {{action 'expandSideNav'}} class="side-nav-toggle">
    <img src='assets/images/nav.svg' alt='Nav' class='icon nav'>
</div>
<img src='assets/images/avatar.svg' alt='Avatar' class='icon login'>
<div class="site-logo">
	<center><a href="http://www.wikia.com">
		<img src='assets/images/wikia-logo.svg' alt='Wikia Logo' class='icon wikia-logo'>
	</a></center>
</div>
